*, :before, :after {box-sizing:border-box;}

:root {
	--white-color: white;
	--grey-color: rgb(178, 187, 186);
	--ph-grey-color: rgb(204, 204, 204);
	--ivory-background-color: rgb(245, 245, 235);
	--dark-grey-color: rgb(41, 41, 49);
	--black-color: black;
	--red-color: rgb(247, 115, 66);
	--orange-icon-color: #f4a300;
	--green-color: rgb(95, 176, 56);
}


body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: var(--grey-color);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Intro', sans-serif;
}

/* HEADER */
.nav-bar {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	justify-content: space-between;
	background-color: var(--white-color);
	padding: 2em;
	flex-direction: row;
	height: 20vh;
}

.masthead {
	& img {
	height: 2em;
	}
	& h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 100;
	color: var(--grey-color);
	}
}

.links {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	& a {
		background-size: contain;
		background-repeat: no-repeat;
		height: 2em;
		width: 2em;
		filter: invert(83%) sepia(4%) saturate(327%) hue-rotate(124deg) brightness(92%) contrast(84%);
	}
}

.hamburger {
	background-image: url('../images/hamburger.svg');
	margin-right: 1em;	
}

.cart {
	background-image: url('../images/cart.svg');
}

/* ORDER SECTION */
#order-header-blocks {
	display: flex;
	justify-content: space-between;
	background-color: var(--ph-grey-color);
}

.placeholder img {
	width: 100%;
}

.order-section {
	background: linear-gradient(to bottom, rgb(192, 218, 56), rgb(116, 204, 82));
	padding: 2em;
	& h2 {
		text-transform: uppercase;
		font-size: 3em;
		text-align: left;
		color: var(--white-color);
	}
}

.form-info {
	background-color: var(--white-color);
	align-items: center;
	border-radius: 1em;
	& label {
		display: flex;
		justify-content: flex-start;
		padding: 2em;
	}
	& img {
		padding-right: 2em;
		filter: invert(71%) sepia(60%) saturate(4896%) hue-rotate(333deg) brightness(100%) contrast(94%);
		height: 2em;
	}
	& input {
		border: none;
		font-size: 1.5em;
	}
}

.form button {
	background-color: var(--red-color);
	border: none;
	font-size: 2em;
	padding: 1em;
	text-transform: uppercase;
	font-family: 'Intro', sans-serif;
	font-weight: 600;
	color: var(--white-color);
	border-radius: 0.5em;
	margin-top: 2em;	
}

/* HOW IT WORKS SECTION */
#how-it-works {
	background-color: var(--white-color);
	& h2 {
		color: var(--red-color);
		text-align: center;
		text-transform: uppercase;
		font-size: 3em;
	}
}

.how-it-works-blocks {
	display: flex;
	justify-content: space-arround;
	& article {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		padding: 3em;
	}
	& img {
		height: 20vh;
		padding-right: 2em;
	}
	& h4 {
		text-transform: uppercase;
		font-size: 2em;
		margin-top: 0;
		color: var(--black-color);
	}
	& p {
		font-size: 3vh;
		line-height: 4vh;
	}	
}

/* DISHES SECTION */
#dishes {
	background-color: var(--ivory-background-color);
	padding: 5%;
	& h2 {
		color: var(--red-color);
		text-align: center;
		text-transform: uppercase;
		font-size: 3em;
	}
}

.dishes-blocks {
	display: flex;
	justify-content: space-around;
	& article {
		flex: 1;
		margin: 0 2.5% 5% 2.5%;
	}
	& img {
		width: 100%;
		height: 40vh;
		border-radius: 0.5em 0.5em 0 0;
	}
}

.info-dish {
	width: 100%;
	background-color: var(--white-color);
	text-align: left;
	padding: 1em;
	& h3 {
		font-family: 'Lato', sans-serif;
		color: var(--black-color);
		font-size: 1.5em;
	}
}

.buy {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	& p {
		color: var(--black-color);
		font-size: 1.5em;
		font-weight: 600;
	}
	& button {
		background-color: var(--green-color);
		border: none;
		color: var(--white-color);
		border-radius: 0.5em;
		font-size: 1em;
		margin-top: 2%;
		margin-bottom: 2%;
		padding: 0 2em;
		font-style: italic;
		font-weight: 600;
		height: 10vh;
	}
}

.ratings {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	&  button {
		background-color: var(--white-color);
		border: none;
		color: var(--grey-color);
		font-size: 1em;
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

.stars {
	width: 30%;
	background-position: center;
	background-image: url('../images/star.svg');
	background-repeat: repeat-x;
	background-size: calc(100% / 5) auto; 
	margin-right: 3em;
}


/* EXTRAS SECTION */
#extras {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	background: linear-gradient(to bottom, rgb(250, 115, 68), rgb(238, 59, 81));
	padding: 2em;
	& article {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		color: var(--white-color);
	}
	& h4 {
		color: var(--white-color);
		text-transform: uppercase;
		font-size: 2em;
	}
}

.img-back {
	position: center;
	background-color: var(--white-color);
	border-radius: 4em;
	width: 120px;
	height: 120px;
	& img {
		width: 120px;
		background-color: none;
		padding: 1em;
		border-radius: 4em;
		filter: invert(52%) sepia(99%) saturate(438%) hue-rotate(3deg) brightness(103%) contrast(106%);
	}
}


/* CUISINE SECTION */
#cuisine {
	background-color: var(--ivory-background-color);
	padding: 5% 5%;
	& h2 {
		color: var(--red-color);
		text-align: center;
		text-transform: uppercase;
		font-size: 3em;
	}
}

.cuisine-blocks {
	display: flex;
	justify-content: space-around;
	& article {
		flex: 1;
		margin: 0 2.5% 5% 2.5%;
	}
	& img {
		width: 100%;
		border-radius: 0.5em 0.5em 0 0;
	}
}

.info-restaurant {
	width: 100%;
	background-color: var(--white-color);
	text-align: left;
	padding: 1em;
	& h3 {
		font-family: 'Lato', sans-serif;
		color: var(--black-color);
		font-size: 1.5em;
	}
}


/* BANNER SECTION */
#banner {
	background-color: var(--ivory-background-color);
	padding: 3%
}

#banner div {
	background-color: var(--dark-grey-color);
	border-radius: 1em;
	width: 100%;
	height: 50vh;
	align-items: center;
	display: flex;
    justify-content: center; 
	& h2 {
		color: var(--white-color);
		text-align: center;
		text-transform: uppercase;
		font-size: 2em;
	}
}

/* RESTAURANT SECTION */
#restaurant {
	background-color: var(--ivory-background-color);
	padding: 5%;
	h2 {
		color: var(--red-color);
		text-align: center;
		text-transform: uppercase;
		font-size: 3em;
	}
}

.restaurant-blocks {
	display: flex;
	justify-content: space-around;
	& article {
		flex: 1;
		margin: 0 2.5% 5% 2.5%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	& img {
		width: 100%;
		height: 40vh;
		border-radius: 0.5em 0.5em 0 0;
	}
}

.menu-restaurant {
	width: 100%;
	background-color: var(--white-color);
	text-align: left;
	padding: 1em;
	& h3 {
		font-family: 'Lato', sans-serif;
		color: var(--black-color);
		font-size: 1.5em;
	}
}

.view-menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 20vh;
	& button {
		background-color: var(--green-color);
		border: none;
		color: var(--white-color);
		border-radius: 0.5em;
		font-size: 1em;
		margin-top: 2%;
		margin-bottom: 2%;
		padding: 0 2em;
		font-style: italic;
		font-weight: 600;
		height: 10vh;
	}
}

.reviews {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	height: 20vh;
	& button {
		background-color: var(--white-color);
		border: none;
		color: var(--grey-color);
		font-size: 1em;
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

/* FOOTER */
.footer-info {
	background-color: var(--white-color);
	padding: 3em;
	display: flex;
	justify-content: space-around;
	& h4 {
		color: var(--black-color);
		text-transform: uppercase;
		font-size: calc(1em + 1vw);
	}
	& ul {
		list-style: none;
		padding: 0;
		line-height: 2;
		max-width: 70%;
	}
}

.yumyum-info {
	background-color: var(--ivory-background-color);
	color: var(--black-color);
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
	& ul {
		list-style: none;
		display: flex;
		box-sizing: border-box;
		flex-direction: row;	
		justify-content: flex-start;
	}
	& li {
		font-size: 0.75em;
		margin: 0 5%;
	}
}

.color-brand {
	color: var(--green-color);
}

/* Mobile */
@media (max-width: 767px) {
	#order-header-blocks {
		flex-direction: column;
	}

	.how-it-works-blocks {
		flex-direction: column;
	}

	.dishes-blocks {
		flex-direction: column;
	}

	#extras article {
		max-width: 50%;
		margin-bottom: 10%;
	}

	.cuisine-blocks {
		flex-direction: column;
	}

	.restaurant-blocks {
		flex-direction: column;
	}

	.footer-info {
		flex-direction: column;
	}

	.yumyum-info {
		flex-direction: column;
	}
}

/* Desktop */
@media (min-width: 768px) {
	#order-header-blocks {
		flex-direction: row;
		width: 100%;
        height: 100vh;
	}

	.placeholder {
		overflow: hidden;
		flex: 1;
	}

	.order-section {
		width: 50%;
	}

	.how-it-works-blocks {
		flex-direction: row;
	}

	.dishes-blocks {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#extras article {
		max-width: 25%;
	}

	.cuisine-blocks {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.restaurant-blocks {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.footer-info {
		flex-direction: row;
	}

	.yumyum-info {
		flex-direction: row;
	}
}